
   body {
    font-family: sans-serif;
    background-color: #a600ff;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  form input[type="text"] {
    width: 81%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  form button[type="submit"] {
    width: 13%;
    padding: 10px 15px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  form button[type="submit"]:hover {
    background-color: #27ae60;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
  }
  
  li:hover {
    background-color: #e5e5e5;
  }
  
  li span {
    margin-right: 10px;
  }
  
  li button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  li button:hover {
    background-color: #c0392b;
  }
  
  #todo-form {
    margin-bottom: 20px;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 700px;
    word-wrap: break-word;
  }
  
  .btn-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .btn-container button {
    margin-left: 10px;
  }
  
  .edit-btn {
    background-color: #4caf50;
    color: white;
  }
  
  .edit-btn:hover {
    background-color: #3e8e41;
  }
  
  #todo-list {
    list-style: none;
    padding: 0;
  }
  
  .container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a0a0a0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }